[project]
	description = "This simple android app which logins with facebook credentials and display friends list in customized grid. Each row in grid is scroll able along with  vertical scroll."
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sagar Gugwad (geekgugi)
[access "refs/for/refs/*"]
	read = group user/Sagar Gugwad (geekgugi)
	push = group user/Sagar Gugwad (geekgugi)
	label-Code-Review = -2..+2 group user/Sagar Gugwad (geekgugi)
	label-Verified = -1..+1 group user/Sagar Gugwad (geekgugi)
	rebase = group user/Sagar Gugwad (geekgugi)
	removeReviewer = group user/Sagar Gugwad (geekgugi)
	submit = group user/Sagar Gugwad (geekgugi)
[access "refs/heads/*"]
	read = group user/Sagar Gugwad (geekgugi)
	create = group user/Sagar Gugwad (geekgugi)
	push = +force group user/Sagar Gugwad (geekgugi)
	pushMerge = group user/Sagar Gugwad (geekgugi)
[access "refs/tags/*"]
	push = +force group user/Sagar Gugwad (geekgugi)
	pushTag = group user/Sagar Gugwad (geekgugi)
	pushSignedTag = group user/Sagar Gugwad (geekgugi)
